@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap');
*{
  padding: 0%;
  margin: 0%;
}
.top-navbar{
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-collapse {
  flex-grow: 0!important;
}
.links{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:rgb(85, 72, 0);
}
.d-flex .me-2{
  height: 100%;
  width: 500px;
}
.lupa{
  margin-left: -45px;
  border: rgb(207, 207, 207) 1px solid!important;
}
.d-block{
  height: 60vh;
  filter: brightness(0.4);
  object-fit: cover;
}
body{
  background-color: rgb(218, 218, 218)!important;
}
.brand{
  font-size: 35px!important;
  font-family: 'Great Vibes', cursive;
}
.texto-card{
  width: 100%;
  bottom: 0;
  padding: 2px!important;
  position: absolute;
  background-color: white;
}
.card{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 10px;
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.colecoes{
  color: rgb(37, 37, 37);
  font-size: 40px;
  font-family: 'Great Vibes', cursive;
  margin-top: 15px;
  text-align: center;
}
.flex-column{
  width: 350px;
}
.text-center {
  padding: 2px!important;
  color: rgb(54, 54, 54)!important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.light-color {
  color: #f8f9fa; /* Altera a cor para light do Bootstrap */
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px; /* Adicione a margem desejada */
  padding: 5px;
}
.footer-container{
  background-color: rgb(51, 51, 51);
  height: 300px;
}
.footer-container h4{
  font-family: 'Great Vibes', cursive;
  margin-top: 10px ;
  font-size: 40px ;
  color: rgb(218, 218, 218);
}
.footer-container p{
  color: rgb(218, 218, 218);
}
.email-footer {
  font-size: 14px;
  text-align: center;
  color:#f8f9fa
}

.email-footer + .form-control {
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 14px;
  width: 200px; /* Defina a largura desejada */
  margin-bottom: 80px;
}
.links-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:rgb(218, 218, 218);
}

.noticias{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.link-black {
  color: black;
}